/*********** 
  General 
************/
/* Fixes some weird spacing when a list follows a paragraph */
.jp-RenderedHTMLCommon p:has(+ ul), .jp-RenderedHTMLCommon p:has(+ ol) {
  margin-bottom: 0.5em;
}
/* Headings that come after other text should have a top margin */
.jp-RenderedHTMLCommon p + h2, .jp-RenderedHTMLCommon p + h3, .jp-RenderedHTMLCommon ul + h2, .jp-RenderedHTMLCommon ul + h3 {
  margin-top: 0.8em;
}

/* Presentation Title */
.jp-RenderedHTMLCommon div.prez-title + h1 {
  font-size: 4em;
  padding-bottom: 0.3em;
  border-bottom: 1px solid gray;
}
/* Presentation Subtitle */
.jp-RenderedHTMLCommon div.prez-title + h1 + p {
  margin-left: 1em;
}

/* Section Title */
.jp-RenderedHTMLCommon div.section-title + h1 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid gray;
}

/* Your Turn slides */
.jp-RenderedHTMLCommon div.your-turn + h1 ~ ol > li::marker {
  color: rgb(206, 2, 2);
  font-weight: bold;
}

.ethan-watermark {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 0.4em;
  color: rgb(160, 160, 160);
  text-align: right;
}

.watermark-twitter-logo {
  display: inline;
  height: 1.2em;
  margin-right: 0.2em;
  vertical-align: middle;
}